@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
*{
  margin: 0;
  padding: 0; 
}
html {
 font-family: 'Josefin Sans', sans-serif;

}
body {
 background-color: white;
} 

.primeraParte {
  background-image: url(img/almejas.jpg);
  height: 1000px;
}

.menu{
  margin-left: 600px ;
  font-size: 25px;  
}

.menuItem{
 display: inline-block;
 padding: 5px;
 margin-top: 15px;
}

.menuItem a{
 color: white;
 text-decoration: none;
}

.menuItem a:hover{
 color: white;
 background-color: #262927;
 }

 .titulo {
  font-size: 100px;
  color: white;
  text-align: center;
  margin-top:250px;
  margin-left: 700px ;
}

.texto {
 margin:  50px;

}
.texto p {
 margin-top: 5px;
 margin-bottom: 10px;
}

.subtitulo{
  font-size: 50px;
  padding-bottom: 20px;

}

.imagen{
  background-size: cover;
  width: 1250px;
  height: 450px;
  }

.imagenFideos{
  background-size: cover;
  width: 1250px;
}


.imagenes{
  display: inline-block;
  padding: 10px;
  margin-left: 80px;
  width: 240px;
  height: 440px;
}

.pie {
  color: white;
  background-color: #262927;
  padding: 20px;
  text-align: center;
}
.epigrafe p{
  font-size: 30px;
}

.epigrafe{
  margin-left: 50px;
}